#type-select-form {
	margin-bottom: 10px;
}

#type-select-form > ul {
	margin-top: 10px;
}

#type-select-form > ul > li {
	background-color: #222222;
	padding-bottom: 10px;
}

#type-select-form > ul > li > img {
	vertical-align: sub;
}

#type-select-form > ul > li > p.description {
	margin-top: 10px;
	text-align: center;
}

#type-select-form > ul > li > .default-button {
	margin-top: 10px;
	width: 160px;
}
